::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0px;
}

.parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C0F00;
  color: white;
}

#child {
  width: 30vh;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  background-color: #111400;
}

#image {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
